<ng-container *ngIf="synchronizingData; else dataViewer">
    <div class="flex items-center gap-2">
        <mat-spinner diameter="30"></mat-spinner>
        Synchronizing Data...
    </div>
</ng-container>

<ng-template #dataViewer>
    <h1 class="text-2xl mb-6">
        Data Viewer
        <a [routerLink]="['']" class="flex items-center gap-1 text-sm font-semibold mat-color-primary hover:underline">
            <mat-icon fontIcon="keyboard_backspace"></mat-icon>
            Back to Main Menu
        </a>
    </h1>
</ng-template>

<div class="flex items-center gap-4">
    <mat-form-field appearance="outline" class="w-1/4">
        <mat-label>Active Integrations</mat-label>
        <mat-select [(ngModel)]="selectedIntegration">
            <mat-option value="github">GitHub</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Entities Dropdown -->
    <mat-form-field appearance="outline" class="w-1/4">
        <mat-label>Entities</mat-label>
        <mat-select [(ngModel)]="selectedCollection" (selectionChange)="onCollectionChange($event.value)">
            <mat-option *ngFor="let collection of collections" [value]="collection.slug">{{ collection.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Search Bar -->
    <mat-form-field appearance="outline" class="w-1/2">
        <mat-label>Search</mat-label>
        <input
            matInput
            [(ngModel)]="searchQuery"
            placeholder="Enter a keyword"
            (keyup)="onSearch(searchQuery)"
        />
    </mat-form-field>
</div>

<div class="content" style="width: 100%; height: 100%;">
    <ag-grid-angular
        [cacheBlockSize]="pageSize"
        [cacheOverflowSize]="2"
        [columnDefs]="columnDefs"
        class="ag-theme-quartz"
        [defaultColDef]="defaultColDef"
        [domLayout]="'autoHeight'"
        [enableCellTextSelection]="true"
        (gridReady)="onGridReady($event)"
        [infiniteInitialRowCount]="1"
        [maxBlocksInCache]="pageSize"
        [maxConcurrentDatasourceRequests]="2"
        [pagination]="true"
        [paginationPageSize]="pageSize"
        [paginationPageSizeSelector]="[3, 5, 10]"
        [rowModelType]="'infinite'">
    </ag-grid-angular>
</div>