# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# .env files
.env

# Operating system files
.DS_Store
Thumbs.db

# Build directories
dist/
build/

# IDE configurations (optional, depending on your editor)
.vscode/
.idea/
