<div class="flex items-center justify-between gap-6 mb-5">
    <ng-container *ngIf="synchronizingRepos; else loadingRepos">
        <div class="flex items-center gap-2">
            <mat-spinner diameter="30"></mat-spinner>
            Synchronizing Repositories...
        </div>
    </ng-container>

    <ng-template #loadingRepos>
        <ng-container *ngIf="loadingRepoData; else reposData">
            Loading Repositories...
        </ng-container>
    </ng-template>

    <ng-template #reposData>
        <h1 class="text-2xl">
            Repositories for <strong *ngIf="!!organization">{{organization.name}}</strong>
            <a [routerLink]="['']" class="flex items-center gap-1 text-sm font-semibold mat-color-primary hover:underline">
                <mat-icon fontIcon="keyboard_backspace"></mat-icon>
                Back to Main Menu
            </a>
        </h1>
    </ng-template>
    
    <button
        mat-stroked-button
        [disabled]="disabledSyncButton"
        (click)="onSyncRepositories()"
    >
        {{ synchronizingRepos ? 'Sync in progress...' : 'Sync Repositories Data' }}
    </button>
</div>

<div class="content" style="width: 100%; height: 100%;">
    <ag-grid-angular
        [pagination]="false"
        [domLayout]="'autoHeight'"
        style="width: 100%; height: 100%;"
        class="ag-theme-quartz"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        (cellValueChanged)="onCellValueChanged($event)"
        [loading]="synchronizingRepos || loadingRepoData"
    ></ag-grid-angular>
</div>
